@import 'variables';

/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: inherit;
  user-select: none;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #fff;
  color: #333;
  width: 100vw;
  height: 100vh;
  overflow: hidden; /* Убираем скроллинг */
}

/* Container */
.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
}

/* Header */
.header {
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  -webkit-app-region: drag;

  h1 {
    font-size: 26px;
    font-weight: bold;
    color: $text-color-base;
    letter-spacing: 1.2px;
    padding: 10px;
  }
}

/* Window Controls */
//top-right buttons
.window-controls {
  -webkit-app-region: no-drag;
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  gap: 10px;

  .control-btn {
    -webkit-app-region: no-drag;
    background: none;
    border: none;
    color: $text-color-base;
    font-size: 20px;
    cursor: pointer;
    transition: color 0.2s;

    &:hover {
      -webkit-app-region: no-drag;
      color: $button-color-hover;
    }
  }
}

/* Controls */
.controls {
  text-align: center;
  margin: 20px 0;

  .btn {
    background-color: $button-color;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: $border-radius;
    cursor: pointer;
    transform: scale(1);
    transition: transform 0.2s ease, background-color 0.2s ease;

    &:hover {
      background-color: $button-color-hover;
      transform: scale(1.1);
    }

    &:active {
      transform: scale(1);
      box-shadow: 0 2px 5px rgba(0, 115, 230, 0.2);
    }
  }
}
main {
  padding: 0px 20px 20px 20px;
}
.loading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 1000;

  .spinner {
    width: 50px;
    height: 50px;
    border: 5px solid rgba(0, 0, 0, 0.1);
    border-top-color: #0073e6;
    border-radius: 50%;
    animation: spin 1s linear infinite;
  }

  p {
    margin-top: 10px;
    font-size: 16px;
    color: #333;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Output Box */
.output-box {
  margin-top: 20px;
  padding: 20px;
  background-color: $background-color;
  border-radius: $border-radius;

  .output {
    font-size: $font-size-base;
    color: $text-color-base;
    word-wrap: break-word;
  }
}

/* Options */
.options {
  margin: 20px 0;
  padding: $padding-base;
  background-color: #f9f9f9;
  //   border: 1px solid #ddd;
  border-radius: 4px;

  h2 {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 15px;
    color: #0073e6;
    border-bottom: 2px solid #0073e6;
    padding-bottom: 5px;
  }

  .option-group {
    margin-bottom: 5px;
    // display: flex;
    align-items: center;
    gap: 4px;

    label {
      margin: 0;
      font-size: 14px;
      color: #333;
      line-height: 1;
      cursor: pointer;
    }

    .dropdown {
      margin: 0px;
      font-size: 12px;
      border: none;
      background-color: transparent;
      color: #333;
    }
  }
}

/* Footer */
.footer {
  text-align: center;
  margin-top: 20px;
  font-size: 12px;
  color: #666;
  padding: 0 20px 20px 20px;

  .help {
    a {
      color: #0073e6;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

#notification-area {
  position: fixed;
  bottom: 0px;
  left: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 10px;
  color: white;
  font-size: 14px;
  font-family: Arial, sans-serif;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
  visibility: hidden;
  opacity: 0;

  &.show {
    visibility: visible;
    opacity: 1;
  }

  .notification {
    background-color: rgba(50, 50, 50, 0.5);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    color: #ffffff;
    padding: 10px 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    max-width: 90%;
    text-align: center;
    animation: fade-in-out 4s ease-in-out;

    &.success {
      background-color: #4caf50;
    }

    &.error {
      background-color: #f44336;
    }

    &.warning {
      background-color: #ff9800;
    }

    button {
      margin-top: 10px;
      padding: 10px 20px;
      font-size: 14px;
      background-color: #4caf50;
      color: #ffffff;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
      transition: background-color 0.3s;

      &:hover {
        background-color: #45a049;
      }

      &:active {
        background-color: #3e8e41;
      }
    }
  }
}

.tab-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  //   height: 100%;

  .tabs {
    display: flex;
    align-items: center; /* Выравнивание по вертикали */
    background-color: $background-color;
    border-radius: $border-radius;
    // border-bottom: 1px solid #ddd;
    padding: 10px;

    .tab-btn {
      padding: 8px 16px;
      background-color: #f0f0f0;
      border: none;
      border-radius: $border-radius;
      font-size: 14px;
      cursor: pointer;
      transition: transform 0.1s ease, background-color 0.1s ease;
      margin-right: 8px;

      &:hover {
        background-color: #e0e0e0;
        transform: scale(1.05);
      }

      &.active {
        background-color: $button-color;
        color: white;
        transform: scale(1);
        box-shadow: 0 2px 5px rgba(0, 115, 230, 0.2);
      }

      &:active {
        transform: scale(1);
      }
    }
  }

  .tab-content {
    flex: 1; /* Занимает оставшуюся часть окна */

    .tab-section {
      display: none;

      &.active {
        display: block;
      }
    }
  }
}

#settingsContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  border-radius: 4px;
  max-height: 280px;
  overflow-y: auto;
  background-color: #f9f9f9;
}

#settingsContainer label {
  display: flex;
  flex-direction: column;
  font-size: 14px;
}

#settingsContainer input[type='text'] {
  margin-top: 5px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

.button-group-settings {
  text-align: center;
  margin-top: 10px;

  #saveButton {
    margin-top: 10px;
    padding: 10px;
    background-color: #0078d4;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    // width: 100%;
  }
}

#saveButton:hover {
  background-color: #005ea6;
}

/* Контейнер для цвета */
#colors {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;

  .color-row {
    display: flex;
    align-items: center;
    gap: 60px;
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: $border-radius;

    label {
      font-size: $font-size-base;
      color: $text-color-base;
      min-width: 100px;
    }

    input[type='color'] {
      appearance: none; /* Убираем стандартный стиль */
      -webkit-appearance: none;
      border: none;
      border-radius: 50%;
      width: 40px;
      height: 40px;
      cursor: pointer;
      padding: 0;
      position: relative;
      overflow: hidden;
      background-color: transparent;
      transition: transform 0.3s ease, box-shadow 0.3s ease;

      &::-webkit-color-swatch-wrapper {
        padding: 0;
      }

      &::-webkit-color-swatch {
        border: none;
        border-radius: 50%;
      }

      &:hover {
        transform: scale(1.1);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      }

      &:active {
        transform: scale(1);
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
      }
    }
  }
}

#columnsContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr)); // Автоматическое распределение колонок
  gap: 10px;
  //   padding: $padding-base;
  border-radius: $border-radius;
  background-color: #f9f9f9;

  label.column-item {
    position: relative; // Для позиционирования индикатора
    display: flex;
    flex-direction: column; // Расположение содержимого
    align-items: center;
    justify-content: center;
    padding: 10px;
    border: 1px solid #ddd; // Рамка элемента
    border-radius: 4px; // Скругление углов
    background-color: #fff; // Белый фон
    cursor: pointer; // Указатель
    transition: background-color 0.2s ease, border-color 0.2s ease; // Анимация при наведении

    &:hover {
      background-color: #f0f0f0; // Фон при наведении
    }

    input[type='checkbox'] {
      display: none; // Скрываем стандартный чекбокс
    }

    // Стили для состояния "checked" применяются на сам label
    input[type='checkbox']:checked ~ & {
      background-color: #e0f7fa; // Цвет фона всего элемента
      border-color: #007bff; // Цвет рамки
    }

    span {
      font-size: 14px; // Размер текста
      color: #333; // Цвет текста
    }

    // Стили текста при "checked"
    input[type='checkbox']:checked + span {
      color: #007bff; // Цвет текста при включении
    }

    &.dragging {
      opacity: 0.8; // Прозрачность при перетаскивании
      transform: scale(1.05); // Увеличение при перетаскивании
      z-index: 10; // Поверх остальных элементов
    }
  }

  .drop-indicator {
    height: 4px;
    width: 100%;
    background-color: #007bff;
    position: relative;
    margin: 5px 0;
    border-radius: 2px;
    transition: background-color 0.2s ease;
  }

  /* Стиль для элемента-призрака */
  .sortable-ghost {
    opacity: 0.5; // Прозрачность призрака
    background-color: #f9f9f9; // Фон при перетаскивании
  }

  /* Стиль для выбранного элемента */
  .sortable-chosen {
    background-color: #e0f7fa; // Цвет выбранного элемента
    transform: scale(1.2); // Увеличение при перетаскивании
  }

  /* Стиль для области вставки */
  .drop-target {
    border: 2px dashed #007bff; // Область вставки с пунктирной рамкой
    background-color: rgba(0, 123, 255, 0.1); // Легкая подсветка
    transition: background-color 0.2s ease; // Плавное изменение фона
  }
}

.button-group {
  text-align: center; // Центрирование кнопок
  margin-top: 10px; // Отступ сверху

  button#saveColumns {
    padding: 10px 20px; // Внутренний отступ кнопки
    background-color: #007bff; // Цвет кнопки
    color: #fff; // Цвет текста
    border: none; // Убираем рамку
    border-radius: 4px; // Скругление углов
    cursor: pointer; // Указатель курсора
    font-size: 14px; // Размер шрифта
    transition: background-color 0.2s ease; // Анимация при наведении

    &:hover {
      background-color: #0056b3; // Цвет кнопки при наведении
    }
  }
}
